.rightbar {
  flex: 4;
}

.gifImg {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.rightbarwrapper {
  padding: 20px 20px 0 0;
}

.rightbarAd {
  margin: 25px 0;
  border-radius: 25px;
  height: 270px;
  width: 100%;
}

.onlinefriendsPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.onlinefriends {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.rightBarFriendList {
  padding: 0;
  margin: 0; /*dont forget to do margin padding 0 for UL  list */
  list-style: none;
}

.rightBarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightBarProfileImgContainer {
  margin-right: 10px;

  position: relative;
}

.rightbarProfileImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.rightBarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbarUsername {
  font-weight: 500;
}
